#header{
	text-align: center;
}

#nav {
   float: left;
   padding: 10px;
   font-size: 20px;
}

#main {
	text-align: center;

}

#log {

	text-align: center;
}

#info{

	text-align: center;
}

#results {

	float: right;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}

img {

	padding: 20px;
}
