<!-- Website Header. Contains Buy and Sell links.  -->
<template name="header">
  <nav class="top-nav cyan">
    <div class="nav-wrapper col s12">
      <a href="{{pathFor route='home'}}" class="brand-logo center"><img class = "responsive-img" src= "images/Calvin Bookshelf Branding_White Text.png" style="max-height: 60px; vertical-align: middle;"></a>

      <a href="{{pathFor route='home'}}" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{pathFor route='home'}}">Search</a></li>
	<!-- This modal trigger opens a login dialog box -->
        <li><a class="modal-trigger" href="#loginmodal">Sell</a></li>
      </ul>
    </div>
  </nav>
  {{> modals}}
</template>
