<!-- Website Header. Contains Buy and Sell links.  -->
<template name="header">
  <nav class="top-nav cyan">
      <a href="{{pathFor route='home'}}" class="brand-logo left">
        <img class="responsive-img" src="images/Calvin Bookshelf Branding_White Text.png" style="max-height: 54px; padding: 6px; vertical-align: middle;">
      </a>
		<!-- Nav Menu -->
		<ul class="right">
			<li><a href="{{pathFor route='sell'}}" class="hide-on-med-and-down">Sell Book</a></li>
			<li><a href="{{pathFor route='faq'}}" class="hide-on-med-and-down">Help</a></li>
			{{> menuLogin hide="hide-on-med-and-down"}}
			<li>{{> menuButton}}{{> menuOptions}}</li>
      </ul>
  </nav>
  {{> loginModal}}
</template>

<template name="menuButton">
  <a href="#" class="dropdown-button" data-activates="menu">
    <i class="material-icons hide-on-large-only" style="vertical-align: middle">menu</i>
  </a>
</template>

<template name="menuOptions">
  <ul id="menu" class="dropdown-content">
		<li><a href="{{pathFor route='sell'}}">Sell</a></li>
		<li><a href="{{pathFor route='faq'}}">Help</a></li>
		<li class="divider"></li>
		{{> menuLogin}}
  </ul>
</template>

<template name="menuLogin">
	{{#if currentUser}}
		<li><a href="{{pathFor route='account'}}" class="{{hide}}">My Account</a></li>
		<li><a href="#" onClick="Meteor.logout()" class="{{hide}}">Logout</a></li>
	{{else}}
		<li><a href="#" name="login" class="{{hide}}">Sign in</a></li>
	{{/if}}
</template>
