<template name="login">
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Login</h4>
      <div class="row"></div>
      <div class="input-field col offset-s3 s6">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
      <div class="input-field col offset-s3 s6">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="modal-footer">
      <button class="modal-action modal-close btn waves-effect waves-light cyan" type="submit">Login</button> 
    </div>
  </div>
</template>

