<!-- a modal that prompts the user to log in -->
<template name="loginModal">
  <div id="loginModal" class="modal">
    <div class="modal-content">
      <form id="loginForm" class="col s12">
        <div class="row">
          <h4 class="grey-text text-darken-4 col offset-s2">Login</h4>
          {{> inputField emailField}}
          {{> inputField passwordField}}
        </div>
      </form>
    </div>
    <div class="modal-footer">
      {{> button cancelButton}}
      {{> button loginButton}}
    </div>
  </div>
</template>

<!-- a simple button template that's nice for buttons with many classes -->
<template name="button">
  <button {{attr}}>{{label}}</button>
</template>

<!-- a materializecss input field element with an icon prefix -->
<template name="inputField">
  <div class="input-field col s8 offset-s2">
    <i class="material-icons prefix">{{icon}}</i>
    <input id="{{type}}" type="{{type}}" name="{{type}}" class="validate">
    <label for="{{type}}">{{label}}</label>
  </div>
</template>
