<!-- renders a collection of cards that represent books -->
<template name="cards">
  {{#if Template.subscriptionsReady}}
    <div class="row">
      {{#each books}}
        <div class="col s12 m6 l4">{{> card}}</div>
      {{/each}}
    </div>
  {{else}}
    {{> spinner}}
  {{/if}}
</template>

<!-- a spinner component that indicates that items are loading -->
<template name="spinner">
  <div class="center" style="margin-top:20%">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-red-only" style="border-color:#EF4036">
        <div class="circle-clipper left"><div class="circle"></div></div>
        <div class="gap-patch"><div class="circle"></div></div>
        <div class="circle-clipper right"><div class="circle"></div></div>
      </div>
    </div>
  </div>
</template>

<!-- each individual book is represented on a material card -->
<template name="card">
  <div class="card medium">
    <!-- a thumbnail of the book cover -->
    <div class ="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{thumbnail}}" alt="{{title}}">
    </div>
    <!-- the initial content of the card before it is clicked -->
    <div class="card-content activator">
      <span class="flow-text grey-text text-darken-4" style="line-height:150%">{{title}}</span>
      <p class="grey-text">{{author}}</p>
    </div>
    <!-- the content that's revealed when the card is clicked -->
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4 activator">{{> iconClose}}{{title}}</span>
      <p class="grey-text">Author: {{author}}<br>Edition: {{edition}}<br>ISBN: {{isbn}}</p>
      <p class="grey-text">{{comment}}</p>
      <p class="green-text">${{price}}</p>
      <!-- the footer of the revealed card -->
      <div class="card-action">
        {{#if messageSent}}
          <span class="green-text">MESSAGE SENT</span>
        {{else}} {{#if myBook}}
          <a href="#" class="remove-book blue-text">REMOVE BOOK</a>
        {{else}}
          <a href="#" class="send-message">CONTACT SELLER</a>
        {{/if}} {{/if}}
      </div>
    </div>
  </div>
</template>

<!-- the material "close" icon -->
<template name="iconClose">
  <i class="material-icons right" style="cursor:pointer">close</i>
</template>

<!-- just some temporary placeholder text for the card-reveal -->
<template name="placeholderText">
  <p>Here is some more information about this product that is only revealed once clicked on.</p>
</template>

