<!-- Cards template that contains the book template in each card 
	Used to display search results -->
<template name="cards">
  {{#if Template.subscriptionsReady}}
    <div class="row">
      {{#each bookshelf}}
        {{> books}}
      {{/each}}
    </div>
  {{else}}
    Loading...
  {{/if}}
</template>

<!-- Each individual book in a search result is one of these.
	Displays information about the book as a materialize card -->
<template name="books">
  <div class="col s10 m6 l4">
    <div class="card hoverable medium">
      <div class ="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{thumbnail}}" alt="{{title}}">
      </div>
      <div class="card-content truncate">
        <span class="card-title activator grey-text text-darken-4">
          {{title}}
        </span>
        <p class="grey-text">{{author}}</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          <i class="material-icons right">close</i>
          {{title}}
        </span>
        <p class="grey-text">{{author}}</p>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
        <div class="card-action">
          <a class="modal-trigger" href="#buymodal">Buy</a>
        </div>
      </div>
    </div>
  </div>
  {{> modals}}
</template>
