<!-- A simple text page that displays our mission statement  -->
<template name="about">
  <div class="container">
    <div class="row">
      <h1 class="center-align light">About</h1>
    </div>
    <div class="row">
      <p class="flow-text">
        What could you do with the money you've wasted on highly priced
        textbooks? What if you could keep that money in your pocket by
        exchanging textbooks for what they're worth, instead of buying them
        at markups and selling them back for <b>10%</b> of what you paid?
      </p>
      <p class="flow-text">
        Inspired by Calvin's popular Book Connection site from the early
        2000's, the modern Calvin Bookshelf is a website where students can
        take back control of their textbook purchasing from the textbook
        industry.
      </p>
      <p class="flow-text">
        With Calvin Bookshelf, Calvin students can post their used
        textbooks for sale, available for fellow Calvin students to search
        for by title or by Calvin course. This enables students to connect
        directly with each other, avoiding the used book markups charged at
        the bookstore and shipping expenses charged at online booksellers.
        Calvin Bookshelf offers the convenience and savings of buying
        directly from fellow classmates in the Calvin community.
      </p>
    </div>
  </div>
</template>
