<!-- FAQ page. Has online help categories with questions and answers -->
<template name="faq">
  <div class="container col 12">
    <div class="row"></div>
    <h4 class="light">Help</h4>
    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
      <li class="active">
        <div class="collapsible-header active">
          <i class="material-icons"></i><b>SEARCHING FOR BOOKS</b>
        </div>
        <div class="collapsible-body">
          <p class="flow-text">
            You can use the search bar to find books that interest you.
            Imagine that you want to find the book titled: "General Chemistry" by Tro.
            This can be accomplished by following these steps:<br>
            1. Select the search bar.<br>
            2. Type in the title of the book you wish to find<br>
            3. The results will appear below, look to see if the book you want is there.
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons"></i><b>SELLING BOOKS</b>
        </div>
        <div class="collapsible-body">
          <p class="flow-text">
            When you sell a book, its information will be displayed for buyers to see.<br>
            1. On the homepage, click "Sell Book" from the menu.<br>
            2. Fill out the form. (The edition and comment fields can be left blank)<br>
            3. Click "SELL BOOK" to sell your book.<br>
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons"></i><b>CONTACTING SELLERS</b>
        </div>
        <div class="collapsible-body">
          <p class="flow-text">
            You can use the contact seller feature to contact the owner of a book you want to buy.<br>
            Imagine that you found a textbook and would like to purchase it. The steps in this section will show you how to contact a seller.<br>
            1. In the results section of the home page, click on the card containing the book you would like to buy.<br>
            2. On the bottom of the card click on the orange colored text labeled “contact seller”.<br>
            3. A message stating “Compose message and click submit” will pop up. This is completly optional. 
               If you wish, write a message on the line.<br>
            4. Click submit to send the email regardless if you added a message or not.<br>
            5. You should see a message saying “message sent” and the seller of the book will receive an email with your contact information.
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons"></i><b>BOOK MANAGEMENT</b>
        </div>
        <div class="collapsible-body">
          <p class="flow-text">
            Once you've sold your book, you'll need to manually remove
            it from the website. To remove a book:<br>
            1. Log into your Calvin account.<br>
            2. Click on the "My Account" button on the website's header. On this page, you should see a list of
            the books that you're selling.<br>
            3. Select the books that you want to remove, then click the "Remove Book" button.
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons"></i><b>LOGIN</b>
        </div>
        <div class="collapsible-body">
          <p class="flow-text">
            You can use the login feature of Calvin Bookshelf to log in to your Calvin user account.
            You can search the website without needing to log in. However, you need to log in to Calvin Bookshelf to sell a book
            or to contact a seller about their book. To do so, follow the follow steps:<br>
            1. In the top right corner, click on "Log in".<br>
            2. In the log in pop-up, enter your Calvin username (without @students.calvin.edu) and Calvin password.<br>
            3. Press login.<br>
            4. You can now proceed to sell your book or contact a seller.
          </p>
        </div>
      </li>
    </ul>
  </div>
</template>
